{% extends 'layout.jinja2' %}

{% block content %}
<div class="content">
<center>{{ message }}</center>
<form action="{{ url }}" method="post">
<input type="hidden" name="next" value="{{ next_url }}">
<div class="form-group">
    <label for="login">Username</label>
    <input type="text" name="login" value="{{ login }}" autofocus>
</div>
<div class="form-group">
    <label for="password">Password</label>
    <input type="password" name="password">
</div>
<div class="form-group">
    <button type="submit" name="login.form.submitted" value="Log In" class="button-primary">Log In</button>
</div>
</form>
</div>
{% endblock content %}
