
{% macro textrend(i) %}
{% if i.children is iterable %}
   {% for j in i.children %}
     {{ textrend(j) }}
   {% endfor %}
{% else %}
   {% if i.tooltip %}
   <span title={{i.tooltip}}>
   {% endif %}
   {% if i.css_class and i.url %}
   <a href="{{i.url}}" class="{{i.css_class}}">{{i.text}}</a>
   {% elif i.url %}
   <a href="{{i.url}}">{{i.text}}</a>
   {% elif i.css_class %}
   <span class="{{i.css_class}}">{{i.text}}</span>
   {% else %}
   {{i.text}}
   {% endif %}
   {% if i.tooltip %}
   </span>
   {% endif %}
{% endif %}
{% endmacro %}

