{% extends "layout.jinja2" %}
{% from 'macros.jinja2' import textrend %}

{% block content %}
<div class="content">
  <form action="{{ url }}" method="get">
    <div class="row">
      <div class={% if add_url %}"nine columns"{% else %}"ten columns"{% endif %}>
        <input class="u-full-width" type="text" placeholder="Search string" value="{{ _search_ }}" name="_search_" {%if _search_|length>0%}autofocus{%endif%}>
      </div>
      <div class={% if add_url %}"three columns"{% else %}"two columns"{% endif %}  style="text-align:right">
        <button type="submit" class="button">Search</button>
        {% if add_url %}
        &nbsp;&nbsp;&nbsp;&nbsp;<a class="button button-primary" href="{{add_url}}">Add</a>
        {% endif %}
      </div>
    </div>
  </form>

  {% if restricted %}
  <div class="row">
    <div class="ten columns">
      Results restricted by: {{restricted}}
    </div>
    <div class="two columns" style="text-align:right">
      <a class="button" href="{{clear_url}}">Clear</a>
    </div>
  </div>
  {% endif %}
  
  <table class="u-full-width">
    <thead>
      <tr>
        {% for h in header %}
        <th> {{textrend(h)}} </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for l in data %}
      <tr>
        {% for i in l %}
        <td>
        {{ textrend(i) }}
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if pages %}
  <p align="right">
    {% for i in pages %}
    {{ textrend(i) }}
    &nbsp;
    {% endfor %}
  </p>
  {% endif %}
</div>
{% endblock content %}
