 /* Extra styling used by WebDB */

.button.button-remove,
button.button-remove,
input[type="submit"].button-remove,
input[type="reset"].button-remove,
input[type="button"].button-remove {
  color: #FFF;
  background-color: red;
  border-color: red; }
.button.button-remove:hover,
button.button-remove:hover,
input[type="submit"].button-remove:hover,
input[type="reset"].button-remove:hover,
input[type="button"].button-remove:hover,
.button.button-remove:focus,
button.button-remove:focus,
input[type="submit"].button-remove:focus,
input[type="reset"].button-remove:focus,
input[type="button"].button-remove:focus {
  color: #FFF;
  background-color: #E60000;
  border-color: #E60000; }
.button.button-remove-small,
button.button-remove-small,
input[type="submit"].button-remove-small,
input[type="reset"].button-remove-small,
input[type="button"].button-remove-small {
  padding: 0 15px;
  color: #FFF;
  opacity: 0.33;
  background-color: #FF0000;
  border-color: red; }
.button.button-remove-small:hover,
button.button-remove-small:hover,
input[type="submit"].button-remove-small:hover,
input[type="reset"].button-remove-small:hover,
input[type="button"].button-remove-small:hover,
.button.button-remove-small:focus,
button.button-remove-small:focus,
input[type="submit"].button-remove-small:focus,
input[type="reset"].button-remove-small:focus,
input[type="button"].button-remove-small:focus {
  color: #FFF;
  opacity: 1.0;
  background-color: #E60000;
  border-color: #E60000; }
